/* reset */
* {
    margin: 0;
    padding: 0;
}

/* tags genéricas */
body {
    background-image: linear-gradient(45deg, rgb(0, 166, 255), white);
    height: 100vh;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

/* estilizando meu card */
div.weather {
    background-color: white;
    width: 500px;
    max-width: 500px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    padding: 20px;
    color: rgb(80, 80, 80);
}

/* estilizando meu formulário */
div.weather div.form {
    display: flex;
    margin: 0px 0px 10px 0px;
}

div.weather div.form input {
    flex: 1;
    height: 30px;
    margin-right: 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
}

div.weather div.form button {
    width: 50px;
    max-width: 50px;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
}

/* estilizando a sessão aonde aparecem as informações do clima */
div.weather div#infos {
    padding: 10px 0px;
}

/* primeira sessão da minhas infos */
div.weather div.infos div.info1 span#city {
    font-size: 35px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

div.weather div.infos div.info1 span#temp {
    font-size: 70px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

div.weather div.infos div.info1 span#desc {
    font-size: 35px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

/* segunda sessão da minhas infos */
div.weather div.infos div.info2 {
    display: flex;
    flex-direction: column;
}

div.weather div.infos div.info2 div.line {
    display: flex;
}

div.weather div.infos div.info2 div.line span {
    flex: 0.5;
}

/* primeira linha */
div.weather div.infos div.info2 div.line span#humi {
    font-size: 35px;
    text-align: right;
    border-right: 1px solid rgb(80, 80, 80);

    margin: 10px 0px 10px 0px;
    padding: 0px 10px 0px 0px;
}

div.weather div.infos div.info2 div.line span#wind {
    font-size: 35px;
    text-align: left;

    margin: 10px 0px 10px 0px;
    padding: 0px 0px 0px 10px;
}

/* segunda linha */
div.weather div.infos div.info2 div.line span#press {
    font-size: 35px;
    text-align: right;
    margin: 10px 0px;
    border-right: 1px solid rgb(80, 80, 80);

    margin: 10px 0px 10px 0px;
    padding: 0px 10px 0px 0px;
}

div.weather div.infos div.info2 div.line span#country {
    font-size: 35px;
    text-align: left;
    margin: 10px 0px;

    margin: 10px 0px 10px 0px;
    padding: 0px 0px 0px 10px;
}