/* reset */
* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

/* tags genéricas */
body {
    background-image: url("../imagens/background.jpg");
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* card */
div.card {
    background-image: linear-gradient(45deg, rgb(0, 183, 255), rgb(63, 102, 255));
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

/* estilizando meu formulário */
div.form {
    display: flex;
}

div.form input {
    flex: 1;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 20px;
}

div.form button {
    width: 50px;
    height: 34px;
    border-radius: 5px;
}

/* estilizando a primeira sessão das minhas informações */
div.card div.infos-block1{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px 0px;
    margin: 20px 0px;
}

div.card div.infos-block1 div.city {
    text-align: center;
    margin-bottom: 10px;
}

div.card div.infos-block1 div.temp {
    text-align: center;
    margin-bottom: 10px;
    font-size: 75px;
}

div.card div.infos-block1 div.desc {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.card div.infos-block1 div.desc span {
    text-transform: capitalize;
}

/* estilizando a segunda sessão das minhas informações */
div.card div.infos-block2 {
    display: flex;
    justify-content: center;
    margin: 50px 0px 30px 0px;
}

div.card div.infos-block2 div.block1 {
    text-align: right;
}

div.card div.infos-block2 div.block1 div.humi {
    margin-bottom: 10px;
    padding-right: 10px;
    border-right: 1px solid white;
}

div.card div.infos-block2 div.block1 div.press {
    padding-right: 10px;
    border-right: 1px solid white;
}

div.card div.infos-block2 div.block2 {
    text-align: left;
}

div.card div.infos-block2 div.block2 div.wind {
    text-align: left;
    margin-bottom: 10px;
    padding-left: 10px;
}

div.card div.infos-block2 div.block2 div.country {
    text-align: left;
    padding-left: 10px;
}

div.card div.infos-block2 div.block2 div.country img {
    width: 30px;
}